.header{
    background-color: #333;
    color: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 1rem;
    padding-left: 1rem;
    /* Fuente divertida */
    font-family: 'Lobster', cursive;

}
.container{
    margin-left: 64px;
    width: 100%;
    /* Fondo Oscuro */

}

.canvas{
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 0 auto;
}

.toolbox{
    /* Barra vertical absoluta */
    position: absolute;
    top: 3rem;
    left: 0;
    bottom: 0;
    /* Centrar */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    /* Barra vertical */
    border-right: 1px solid #333;
}

/* Imagenes de toolbox  32x32 */
.toolbox img {
    width: 32px;
    height: 32px;
    padding: 5px;
}

/* Hover */
.toolbox img:hover {
    background-color: #f1f1f1;
    cursor: pointer;
    /* escalar */
    transform: scale(1.2);
}   

/* Body 100% */
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #3a3838;
}

.range{
    /* No mas de 60 pixeles */
    max-width: 60px;
}